body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --primary-color: #4E47FF;
  --text-color: #252432;
}

header {
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 150px;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.nav-title {
  font-size: 34px;
  font-weight: 800;
  color: var(--primary-color);  
}

ul li {
  list-style: none;
  text-decoration: none;
}

.banner-text {
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  padding: 150px 50px;
}

/* See ti in action section */

.second-main-div {
    display: flex;
    padding: 116px 141px;
    justify-content: space-around;
    background-color: #F5F8FF;
}
.see-it h3{
    font-size: 42px;
    margin: 62px 0px 23px 0px;
}

.see-it p {
    font-size: 24px;
    color: #252432;
    opacity: 50%;
}
.image img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}